:root {
    --color-white: #fff;
    --color-black: #000;
    --color-bg-01: #791ac7;
    --color-bg-02: #2b3643;
    --color-grey-bg: #f7f7f7;

    --shadow: 0 2rem 4rem rgba(0, 0, 0, .15);

    --default-font-size: 1.6rem;
}